:root {
    /* ------- colors (light theme) ------- */
    --primary-color: #27272a;
    --secondary-color: #65656d;
    --tertiary-color: #acacb4;
    --quaternary-color: #e4e4e7;
    --link-color: #14b8a6;
    --background-color: #ffffff;
    --card-background: #f4f4f5;
    --border-color: #e4e4e7;
    --shadow-color: rgba(0, 0, 0, 0.1);
    /* ---------------------- */

    /* ------- fonts ------- */
    --primary-font: "Heebo", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    /* --------------------- */

    /* ------- transition ------- */
    --theme-transition: all 0.3s ease;
    /* --------------------- */
}

[data-theme="dark"] {
    --primary-color: #e4e4e7;
    --secondary-color: #a1a1aa;
    --tertiary-color: #71717a;
    --quaternary-color: #3f3f46;
    --link-color: #2dd4bf;
    --background-color: #18181b;
    --card-background: #27272a;
    --border-color: #3f3f46;
    --shadow-color: rgba(0, 0, 0, 0.3);
}